# Used in ChatGPT package ~v4.0
OPENAI_API_KEY=''

# Used in ChatGPT package ~v3.0
# OPENAI_EMAIL=''
# OPENAI_PASSWORD=''
# CAPTCHA_TOKEN=''

# https://github.com/tzwm/dreamily-api
DREAMILY_TOKEN=''

# https://replicate.com/account
REPLICATE_TOKEN=''

LARK_LISTENER_PORT=6347
LARK_LISTENER_PATH='/lark'

LARK_APPID=''
LARK_SECRET=''
LARK_BOT_NAME=''

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL='file:../data/mtrpg.db'
